@model IEnumerable<Clinica.Web.Models.Tarifa>

@{
    ViewData["Title"] = "Index";
}

<h2>Listado</h2>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Centro Medico
            </th>
            <th>
                Cita Tipo
            </th>
            <th>
                Paciente Catgoria
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CentroMedico.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CitaTipo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteCategoria.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarifaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TarifaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.TarifaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
