@model Clinica.Web.Models.TicketPago

@{
    ViewData["Title"] = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Ticket Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MontoPagado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoPagado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroComprobante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroComprobante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vuelto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vuelto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketPagoId">Modificar</a> |
    <a asp-action="Index">Regresar a lista</a>
</div>
