@model IEnumerable<Clinica.Web.Models.TicketPago>

@{
    ViewData["Title"] = "Index";
}

<h2>Listado</h2>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroComprobante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroComprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketPagoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TicketPagoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketPagoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
