@model IEnumerable<Clinica.Web.Models.TicketPago>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MontoPagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroComprobante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vuelto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MontoPagado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroComprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vuelto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketPagoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketPagoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketPagoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
