@model Clinica.Web.Models.Cita

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de eliminar?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioRegistra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioRegistra)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Volver a Listado</a>
        </div>
    </form>
</div>
