@model Clinica.Web.Models.Profesional

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Profesional</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProfesionalTipoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfesionalTipo.Descripcion)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefonos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefonos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfesionalId">Editar</a> |
    <a asp-action="Index">Volver a Listado</a>
</div>
